<div class="title text">ההצעות שלי</div>
<div>
    <md-card ng-repeat="offer in MyOffersCtrl.MyOffers">
        <md-card class="card-border">
            <div class="offer-title">
                <b>הצעה מספר <span ng-bind="offer.offer_id"></span></b>
            </div>
            <div class="offer-details" layout="row" layout-align="space-between">
                <div>
                    תאריך התחלה: <span ng-bind="MyOffersCtrl.ChangeStringToDate(offer['begin_date'])"></span>
                </div>
                <div>
                    תאריך סוף: <span ng-bind="MyOffersCtrl.ChangeStringToDate(offer['end_date'])"></span>
                </div>
                <div>
                    סטטוס: <span ng-bind="offer['offer_status']"></span>
                </div>
                <md-button class="cancel-button" ng-click="MyOffersCtrl.CancelingOffer(offer['offer_id'])">בטל הצעה</md-button>
            </div>
        </md-card>
        <md-table-container>
            <table md-table>
                <thead md-head>
                <tr md-row>a
                    <th md-column md-numeric>מספר בקשה</th>
                    <th md-column md-numeric>שם מבקש</th>
                    <th md-column md-numeric>תאריך התחלה</th>
                    <th md-column md-numeric>תאריך סיום</th>
                    <th md-column md-numeric>סטטוס</th>
                    <th md-column md-numeric>אשר בקשה</th>
                    <th md-column md-numeric>דחה בקשה</th>
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row ng-repeat="request in offer['requests']">
                    <td md-cell ng-bind="request['request_id']"></td>
                    <td md-cell ng-bind="request['display_name']"></td>
                    <td md-cell ng-bind="MyOffersCtrl.ChangeStringToDate(request['begin_date'])"></td>
                    <td md-cell ng-bind="MyOffersCtrl.ChangeStringToDate(request['end_date'])"></td>
                    <td md-cell ng-bind="request['request_status']"></td>
                    <td md-cell><md-button ng-click="MyOffersCtrl.ReplyToRequest(request['request_id'], 'ACCEPTED', offer.offer_id)">אשר</md-button>
                    <td md-cell><md-button ng-click="MyOffersCtrl.ReplyToRequest(request['request_id'], 'DECLINED', offer.offer_id)">דחה</md-button>
                </tr>

                </tbody>
            </table>
        </md-table-container>


    </md-card>

</div>