.table.md-table {
    margin: auto;
    color: white;
}

md-card {
    display: flex;
    background-color: transparent;
    border: solid white;
}

.card-border{
    border-style: hidden;
    text-align: center;
    color: #41b4a3;
}

.cancel-button {
    border: solid white 0.1em;
    border-radius: 0.2em;
}
