table.md-table th.md-column {
    color: white;
    font-size: 1em;
    font-family: Gisha;
    white-space: normal
}

html, body{
    color: white;
    font-family: Gisha;

}

table.md-table td.md-cell{
    color: white;
    font-size: 16px;
}

table{
    margin: auto;
}