<div>
    <h2 class="md-display-1">כל ההצעות המתאימות לך:</h2>

    <div>
        <md-table-container>
            <table md-table>
                <thead md-head id="bedBoard">
                    <tr md-row>
                        <th md-column md-numeric>שם המציע</th>
                        <th md-column md-numeric>תאריך התחלה</th>
                        <th md-column md-numeric>תאריך סיום</th>
                        <th md-column md-numeric>הרחב</th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row ng-repeat="bed in BedBoardCtrl.GetAllBedsByGender">
                        <td md-cell ng-bind="bed['display_name']"></td>
                        <td md-cell ng-bind="BedBoardCtrl.convertStringToDate(bed['begin_date'])"></td>
                        <td md-cell ng-bind="BedBoardCtrl.convertStringToDate(bed['end_date'])"></td>
                        <td md-cell><md-button ng-click="BedBoardCtrl.BrowseToBedByOwnerId(bed['owner_id'], bed['offer_id'])">צפה</md-button>
                            <div ng-if="BedBoardCtrl.CheckUserId(
                            bed['owner_id'])">
                            <md-button ng-click="BedBoardCtrl.DeleteOffer(bed['offer_id'])">בטל הצעה</md-button>
                            </div>

                        </td>
                    </tr>

                </tbody>
            </table>
        </md-table-container>
    </div>

</div>

