<div class="offer-container">
    <div class="title">הצעת מיטה</div>
    <div>
        <md-datepicker class="datepicker" md-placeholder="תאריך התחלה" md-min-date="BedOfferCtrl.MinimumDate" ng-model="BedOfferCtrl.startDate" md-hide-icons="triangle">
        </md-datepicker>
    </div>
    <div>
        <md-datepicker class="datepicker" md-placeholder="תאריך סוף" md-min-date="BedOfferCtrl.startDate" md-max-date="BedOfferCtrl.maximumDate" ng-model="BedOfferCtrl.endDate" md-hide-icons="triangle">
        </md-datepicker>
    </div>
    <div>
        <md-button class="send-button" ng-click="BedOfferCtrl.CreateOffer()">
            שלח הצעה
        </md-button>
    </div>
    <div>
        <h3>המיטה שלי</h3>
        <span class="bed-details">
        <div>חדר:
            <span ng-bind="BedOfferCtrl.PersonDetails['bed']['room_number']"></span>
        </div>
        <div>בניין:
            <span ng-bind="BedOfferCtrl.PersonDetails['bed']['building_name']"></span>
        </div>
        <div>המיטה:
            <span ng-bind="BedOfferCtrl.PersonDetails['bed']['bed_number']"></span>
        </div>
        <div>תיאור:
            <span ng-bind="BedOfferCtrl.PersonDetails['bed']['bed_description']"></span>
        </div>
        </span>
    </div>
    <div class="note"><br>*המיטה נשמרת במערכת לצורכי בקרה ולא תוצג למשתמשים ללא אישורך</div>
</div>