.offer-container {
    width: 30em;
    margin: auto;
    text-align: center;
}

.title {
    margin: 0.5em;
}

.datepicker {
    margin: 0.5em;
}

.md-datepicker-input {
    min-width: 8em;
    color: white;
    font-family: Gisha;
    font-size: 1em;
}

.md-datepicker-input::-webkit-input-placeholder {
    color: #41b4a3;
}

.md-datepicker-calendar-icon {
    fill: #41b4a3;
}

.md-button.md-icon-button {
    border: solid 0.1em;
}

.md-datepicker-input-container {
    width: 9em;
    text-align: right;
}

.send-button {
    border: solid white 0.1em;
    border-radius: 0.2em;
}

.bed-details {
    max-width: 15em;
    text-align: right;
}

.note {
    color: #ff7d7d;
}