.details {
    text-align: right;
}

.edit-button {
    border: solid white 0.1em;
    border-radius: 0.2em;
}

.submit-button {
    border: solid white 0.1em;
    border-radius: 0.2em;
}

md-input-container:not(.md-input-has-value) input:not(:focus) {
    border-color: white;
    color: white;
}

.field {
    color: #41b4a3;
    font-weight: bold;
}