<div class="container">
    <h2>הפרטים שלי</h2>
    <div class="details">
        <div>שם משתמש:
        <b><span ng-bind="UserInfoPageCtrl.PersonDetails['display_name']"></span></b>
        </div>
        <div>מין:
            <b><span ng-bind="UserInfoPageCtrl.PersonDetails['gender']"></span></b>
        </div>
        <div>מייל:
            <b><span ng-bind="UserInfoPageCtrl.PersonDetails['email']"></span></b>
        </div>
        <div>voip:
            <b><span ng-bind="UserInfoPageCtrl.PersonDetails['voip']"></span></b>
        </div>
        <div>פלאפון:
            <b><span ng-bind="UserInfoPageCtrl.PersonDetails['phone']"></span></b>
        </div>
        <div><u>המיטה שלי</u>
        <div>חדר:
            <b><span ng-bind="UserInfoPageCtrl.PersonDetails['bed']['room_number']"></span></b>
        </div>
            <div>בניין:
                <b><span ng-bind="UserInfoPageCtrl.PersonDetails['bed']['building_name']"></span></b>
            </div>
            <div>המיטה:
                <b><span ng-bind="UserInfoPageCtrl.PersonDetails['bed']['bed_number']"></span></b>
            </div>
            <div>תיאור:
                <b><span ng-bind="UserInfoPageCtrl.PersonDetails['bed']['bed_description']"></span></b>
            </div>
        </div>
    </div>

    <md-button class="edit-button" ng-disabled="!UserInfoPageCtrl.hasBed()" href="#/bedOffer"">הצע מיטה</md-button>
    <md-button class="edit-button" ng-click="UserInfoPageCtrl.WantToChangeDetails()">הוסף מיטה</md-button>
    <div ng-if="UserInfoPageCtrl.WantToChange">
        <div><br>
            <b>המיטה שלי</b>
            <br>
            <md-input-container>
                <label class="field">חדר:</label>
                <input type="number" ng-model="UserInfoPageCtrl.newRoom">
            </md-input-container>
            <br>
            <md-input-container>
                <label class="field">המיטה:</label>
                <input type="number" ng-model="UserInfoPageCtrl.newBed">
            </md-input-container>
            <br>
            <md-input-container>
                <label class="field">בניין:</label>
                <input ng-model="UserInfoPageCtrl.newBuilding">
            </md-input-container>
            <br>
            <md-input-container>
                <label class="field">התיאור:</label>
                <input ng-model="UserInfoPageCtrl.newDescription">
            </md-input-container>
        </div>
        <div>
        <md-button class="submit-button" ng-click="UserInfoPageCtrl.EditBed(UserInfoPageCtrl.PersonDetails['bed']['bed_id'])">שלח</md-button>
        </div>

    </div>


</div>
