<div class="container">
    <div class="regular">
        <img class="intro-logo" src="../../resources/img/logo.png">
        היא מערכת לסיבלוט מיטות . <br>
        מחפשים מיטה בבסיס לכמה ימים?<br>
        כאן תמצאו אותה.<br>
        יש לכם מיטת קבע בבסיס ואתם יודעים שלא תשתמשו בה כמה ימים?<br>
        יש מישהו שישמח להשאיל אותה לתקופה הזו!<br>
        <div ng-if="MainPageCtrl.bedId">
        <a class="userInfo-link" href="#/userInfoPage">להוספת המיטה שלך לחצ/י כאן</a>
        </div>
    </div>
    <div class="options-dialog">
        <div class="dialog-title">
            <b>איך אנחנו יכולים לעזור?</b>
        </div>
        <span>
            <md-button class="option-button md-raised" ng-disabled="!MainPageCtrl.hasBed()" href="#/bedOffer"><b>הצע מיטה</b></md-button>
            <md-button class="option-button md-raised" ng-click="MainPageCtrl.scrollTo('bedBoard')"><b>חפש מיטה</b></md-button>
        </span>
    </div>
    <p></p>
    <div ng-if="MainPageCtrl.toCircle" layout="row" layout-sm="column" layout-align="space-around">
        <md-progress-circular ng-disabled="false" class="md-warn md-hue-3" md-diameter="100x"></md-progress-circular>
        </div>
    <bed-board-dir ng-if="!MainPageCtrl.toCircle"></bed-board-dir>
</div>
