.container {
    max-width: 40em;
    height: 20em;
    margin: auto;
    text-align: center;
    font-size: 1.1em;
}

.intro-logo {
    width: 5em;
    height: 2.3em;
    display: inline-block;
}

.dialog-title {
    font-family: Gisha;
    font-size: 1.2em;
    padding: 2em;
}

.regular {
    color: white;
    padding: 1em;
}

.userInfo-link {
    color: #ff7d7d;
    font-weight: bold;
}

.options-dialog {
    max-width: 20em;
    height: 10em;
    margin: auto;
    color: white;
    background-color: #437a73;
    border-radius: 0.4em;
}

.md-button.md-raised {
    background: url("../../resources/img/bg_logo.png") bottom;
    color: #284851;
}

.option-button {
    border: solid white 0.1em;
    border-radius: 0.2em;
    margin: 0 1em;
}