<div class="container">
<h1>פרטי מיטה</h1>
    <span class="bed-details">
    <div>
        שם המציע:
        <b>{{BedDetailsCtrl.details.owner.first_name}}
        {{BedDetailsCtrl.details.owner.last_name}}</b>
    </div>
    <div>
        תיאור חדר:
        <b><span ng-bind="BedDetailsCtrl.details.bed_description"></span></b>
    </div>
    <div>
        פרטי התקשרות:
        <b>voip: {{BedDetailsCtrl.details.owner.voip}} <br>
        פלאפון: {{BedDetailsCtrl.details.owner.phone}}</b>
    </div>
    </span>
    <md-datepicker md-placeholder="התחלה" md-min-date="BedDetailsCtrl.startoffer" md-max-date="BedDetailsCtrl.endoffer" ng-model="BedDetailsCtrl.startDate" md-hide-icons="triangle">
    </md-datepicker>
    <br>
    <md-datepicker md-placeholder="סוף" md-min-date="BedDetailsCtrl.startDate" md-max-date="BedDetailsCtrl.endoffer" ng-model="BedDetailsCtrl.endDate" md-hide-icons="triangle">
    </md-datepicker>
<p>
    <md-button class="request-button" ng-click="BedDetailsCtrl.RequestingBed()">
        בקש מיטה
    </md-button>
</p>
</div>

