.md-button {
    font-family: Gisha;
    font-size: 1em;
    width: 6em;
    padding: 0.2em;
}

.regular {
    font-size: 1em;
    font-family: Gisha;
}

.title {
    font-size: 2em;
    font-family: Gisha;
}

.wallpaper-bg:after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    background: url("resources/img/45-blurr_bg.png");
    background-size: inherit;
    width: 100%;
    height: 100%;
    z-index: -1;
}

body, html {
    background-color: transparent;
}