<div ng-controller="LoginCtrl as LoginCtrl">
    <div class="welcome" ng-if="isLoggedIn()">
        היי, {{username()}}
        <md-button class="md-button-logout" ng-click="logout()">
            התנתק/י
        </md-button>
    </div>
    <div class="welcome" ng-if="!isLoggedIn()" ng-init="showDialog($event)">
    </div>
</div>