.welcome {
    text-align: center;
    color: white;
    font-family: Gisha;
    font-size: 1.1em;
}

.dialog.md-raised {
    max-width: 20em;
}

.md-dialog-content {
    text-align: center;
}

.textbox {
    height: 1.5em;
    margin: 0.5em 0;
    border-radius: 0.4em;
}

.md-button-logout {
    color: white;
    border: solid white 0.05em;
}