<div>
    <md-dialog class="dialog md-raised" aria-label="No Logged User Dialog">
        <form ng-cloak>
            <md-dialog-content>
                <div class="md-dialog-content">
                    <h3 id="dialog-title">עליך להתחבר כדי לצפות באתר</h3>
                    <label>יוזר</label>
                    <br>
                    <input class="textbox" type="text" ng-model="LoginCtrl.username"
                           placeholder="יוזר">
                    <br>
                    <label>סיסמא</label>
                    <br>
                    <input class="textbox" type="password" ng-model="LoginCtrl.password"
                           placeholder="סיסמא">
                    <br>
                    <label>מין</label>
                    <br>
                    <select class="textbox" type="text" ng-model="LoginCtrl.gender"
                            placeholder="מין">
                        <option>female</option>
                        <option>male</option>
                    </select>
                </div>
            </md-dialog-content>
            <md-dialog-actions layout="row" layout-align="center">
                <md-button class="md-button md-raised" ng-click="submit(LoginCtrl.username, LoginCtrl.password, LoginCtrl.gender)"><b>שלח</b></md-button>
            </md-dialog-actions>
        </form>
    </md-dialog>
</div>