@font-face {
    font-family: 'Alef';
    src: url('Alef-bold.eot');
    src: url('Alef-bold.eot?#iefix') format('embedded-opentype'),
         url('Alef-bold.woff') format('woff'),
         url('Alef-bold.ttf') format('truetype'),
         url('Alef-bold.svg#alefbold') format('svg');
    font-weight: bold;
    font-style: normal;

}




@font-face {
    font-family: 'Alef';
    src: url('Alef-regular.eot');
    src: url('Alef-regular.eot?#iefix') format('embedded-opentype'),
         url('Alef-regular.woff') format('woff'),
         url('Alef-regular.ttf') format('truetype'),
         url('Alef-regular.svg#alefregular') format('svg');
    font-weight: normal;
    font-style: normal;

}