<div>
    <h2>הבקשות שלי:</h2>
    <md-table-container>
        <table md-table>
            <thead md-head>
            <tr md-row>
                <th md-column md-numeric>מספר בקשה</th>
                <th md-column md-numeric>מספר הצעה</th>
                <th md-column md-numeric>תאריך התחלה</th>
                <th md-column md-numeric>תאריך סיום</th>
                <th md-column md-numeric>סטטוס</th>
                <th md-column md-numeric>תאריך יצירה</th>
                <th md-column md-numeric>בטל בקשה</th>
            </tr>
            </thead>
            <tbody md-body>
            <tr md-row ng-repeat="request in MyRequestsCtrl.MyRequests">
                <td md-cell ng-bind="request['request_id']"></td>
                <td md-cell ng-bind="request['offer_id']"></td>
                <td md-cell ng-bind="MyRequestsCtrl.convertStringToDate(request['begin_date'])"></td>
                <td md-cell ng-bind="MyRequestsCtrl.convertStringToDate(request['end_date'])"></td>
                <td md-cell ng-bind="request['request_status']"></td>
                <td md-cell ng-bind="MyRequestsCtrl.convertStringToDate(request['creation_date'])"></td>
                <td md-cell><md-button ng-click="MyRequestsCtrl.SendCancelRequest(request['request_id'])">בטל</md-button>
                </td>
            </tr>
            </tbody>
        </table>
    </md-table-container>



</div>