<div ng-controller="ToolbarCtrl" ng-cloak>
    <md-content>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <div class="navbar-items" layout="row" layout-align="center center">
                    <a href="#/"><img class="logo" src="../../resources/img/logo.png"></a>
                    <md-button class="toolbar-button" ng-disabled="!ToolbarCtrl.hasBed()" href="#/bedOffer">הצע מיטה</md-button>
                    <md-button class="toolbar-button" href="#/userInfoPage">הפרטים שלי</md-button>
                    <md-button class="toolbar-button" href="#/myRequests">הבקשות שלי</md-button>
                    <md-button class="toolbar-button" href="#/myOffers">ההצעות שלי</md-button>
                </div>
                <div class="navbar-items">
                    <login-dir class="login"></login-dir>
                </div>
            </div>
        </md-toolbar>
    </md-content>
</div>
