md-toolbar {
    margin: auto;
    height: 3.5em;
}

md-toolbar:not(.md-menu-toolbar) {
    background-color: #284851;
}

.toolbar-button {
    color: white;
    border: solid white 0.05em;
    border-radius: 0.2em;
    margin: 0em 1em;
}

.md-toolbar-tools {
    justify-content: space-between;
}

.logo {
    max-width: 12em;
    height: 3.5em;
}

.navbar-items {
    display: flex;
}